<!DOCTYPE html>
<html>
  <head>
    <%- include('header') -%>
  </head>
  <body>
    <h1><%= title %></h1>
    <table class="table">
      <thead class="thead-default">
        <tr>
          <td>ID</td>
          <td>タイプ</td>
          <td>ユーザーID</td>
          <td>時間</td>
          <td>操作</td>
        </tr>
      </thead>
      <tbody id="driplist">
      </tbody>
    </table>

    <%# ひとまずjQueryのAjaxでAPIから取得したJSONを表示%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript">

    let formatDate = (date, format) => {
      if (!format) format = 'YYYY-MM-DD hh:mm:ss.SSS';
      format = format.replace(/YYYY/g, date.getFullYear());
      format = format.replace(/MM/g, ('0' + (date.getMonth() + 1)).slice(-2));
      format = format.replace(/DD/g, ('0' + date.getDate()).slice(-2));
      format = format.replace(/hh/g, ('0' + date.getHours()).slice(-2));
      format = format.replace(/mm/g, ('0' + date.getMinutes()).slice(-2));
      format = format.replace(/ss/g, ('0' + date.getSeconds()).slice(-2));
      if (format.match(/S/g)) {
        let milliSeconds = ('00' + date.getMilliseconds()).slice(-3);
        let length = format.match(/S/g).length;
        for (let i = 0; i < length; i++) format = format.replace(/S/, milliSeconds.substring(i, i + 1));
      }
      return format;
    }

    let isoToformatDate = (isodate) => {
      let date = new Date(isodate);
      let formated = formatDate(date, 'YYYY-MM-DD hh:mm:ss');
      return formated;
    }

    let getUserList = () => {
      let elm = $("#driplist");
      elm.empty();
      $.ajax({
        url: "/api/v1/drip"
      })
      .then(
        (data) => {
          let list;
          for (let i = 0; i < data.length; i++) {
            let line = data[i];
            list+= '<tr>';
            list+= '<td>' + line['_id'] + '</td>';
            list+= '<td>' + line['type'] + '</td>';
            list+= '<td>' + line['user_id'] + '</td>';
            list+= '<td>' + isoToformatDate(line['date']) + '</td>';
            list+='<td><a href="./user/list" class="btn btn-success btn-sm" role="button">編集</a>'
            list+='<a href="./user/list" class="btn btn-danger btn-sm" role="button">削除</a></td>'
            list+='</tr>';
          }
          list+= '</tbody>';
          elm.append(list);
        },
        (err) => {
          $("userlist").text(JSON.stringify({message: err}));
        }
      )
    }

    let deleteDrip = (id) => {
      $.ajax({
        type: "DELETE",
        url: "/api/v1/drip/" + id
      })
      .then(
        (data) => {
        },
        (err) => {
          $("userlist").text(JSON.stringify({message: err}));
        }
      )
    }

    $(() => {
      getUserList();
    });
    </script>
  </body>
</html>
