<!-- footer -->
<style scoped>
html, body {
  height: 100%;
  }

  #wrap {
  min-height: 100%;
  }

  #main {
  overflow:auto;
  padding-bottom:100px;
  }

  .alert {
  margin-top: 10px;
  }

  .footer {
  text-align: center;
  position: relative;
  margin-top: -100px;
  height: 100px;
  clear:both;
  padding-top:20px;
  background-color: #696969;
}
</style>
<footer class="footer">
  <p><%= title %> © 2017 <%= title %> All rights reserved.</p>
</footer>
