<!DOCTYPE html>
<html>
  <head>
    <%- include('header') -%>
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="well">
      <h3>閲覧</h3>
      <a href="./user/list" class="btn btn-default btn-lg btn-block" role="button">ユーザー一覧</a>
      <a href="./drip/list" class="btn btn-default btn-lg btn-block" role="button">全履歴一覧</a>
      <a href="./type/list" class="btn btn-default btn-lg btn-block" role="button">ドリップタイプ一覧</a>
    </div>
    <div class="well">
      <h3>編集</h3>
      <a href="./user/list" class="btn btn-default btn-lg btn-block" role="button">ユーザー、ICカード登録・削除</a>
      <a href="./type/list" class="btn btn-default btn-lg btn-block" role="button">ドリップタイプ登録・削除</a>
    </div>
  </body>
</html>
