<!DOCTYPE html>
<html>
  <head>
    <%- include('header') -%>
  </head>
  <body>
    <!-- NavBar -->
    <%- include('navbar') -%>

    <!-- 雑な対応 (マージン) -->
    <p style="visibility:hidden">dummy</p>

    <h3><%= subtitle %></h3>
    <div class="well">
      <form method="post" id="login" action="./">
        <div class="form-group">
          <label>ユーザー名</label>
          <input type="text" name=username class="form-control" required>
        </div>
        <div class="form-group">
          <label>パスワード</label>
          <input type="password" name=password class="form-control" required>
        </div>
        <button class="btn btn-default" type="submit">ログイン</button>
      </form>
    </div>
    <!-- ユーザー登録画面へのリンク -->
    <p style="text-align: center"><a href="/api/v1/register">ユーザー登録はこちら</a></p>

    <%- include('footer') -%>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript">

    let postLogin = (data) => {
      $.ajax({
        type: "POST",
        url: "/api/v1/login",
        data: data
      })
      .then(
        (data) => {
            // リダイレクト先を受け取る
            console.log(data);
            window.location.href = data;
        },
        (err) => {
          $("userlist").text(JSON.stringify({message: err}));
        }
      )
    }

    $('#login').submit(function(event) {
      event.preventDefault();
      let $form = $(this);
      let sendData = $form.serialize();
      postLogin(sendData);
    });
  </script>
  </body>
</html>
