<!DOCTYPE html>
<html>
  <head>
    <%- include('header') -%>
  </head>
  <body>
    <!-- NavBar -->
    <%- include('navbar') -%>

    <!-- 雑な対応 (マージン) -->
    <p style="visibility:hidden">dummy</p>

    <h3><%= subtitle %></h3>
    <div class="well">
      <form method="post" id="addtype" action="./">
        <div class="form-group">
          <label>ID</label>
          <input type="text" name=id class="form-control">
        </div>
        <div class="form-group">
          <label>登録名</label>
          <input type="text" name=name class="form-control">
        </div>
        <div class="form-group">
          <label>価格</label>
          <input type="text" name=price class="form-control">
        </div>
        <button class="btn btn-default" type="submit">登録</button>
      </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript">

    let postTypeData = (data) => {
      $.ajax({
        type: "POST",
        url: "/api/v1/type/",
        data: data
      })
      .then(
        (data) => {
        },
        (err) => {
          $("userlist").text(JSON.stringify({message: err}));
        }
      )
    }

    $('#addtype').submit(function(event) {
      event.preventDefault();
      let $form = $(this);
      let sendData = $form.serialize();
      postTypeData(sendData);
    });
  </script>
  </body>
</html>
