<!DOCTYPE html>
<html>
  <head>
    <%- include('header') -%>
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="well">
        <p class="name">名前: </p>
        <p class="count">合計: </p>
        <p class="sum">合計金額: </p>
    </div>
    <%# ejsからjavascriptへの値渡し部分 (無理矢理感否めない)%>
    <h2 style="display:none;" id="id"><%=id %></h2>
    <table class="table">
      <thead class="thead-default">
        <tr>
          <td>ID</td>
          <td>タイプ</td>
          <td>ユーザーID</td>
          <td>時間</td>
        </tr>
      </thead>
      <tbody id="driplist">
      </tbody>
    </table>

    <%# ひとまずjQueryのAjaxでAPIから取得したJSONを表示%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript">
    let id = $("#id").html();
    let type = 2;
    let getDripList = () => {
      let elm = $("#driplist");
      elm.empty();
      $.ajax({
        url: "/api/v1/drip/list/" + id + "/" + type
      })
      .then(
        (data) => {
          let list;
          for (let i = 0; i < data.length; i++) {
            let line = data[i];
            list+= '<tr>';
            list+= '<td>' + line['_id'] + '</td>';
            list+= '<td>' + line['type'] + '</td>';
            list+= '<td>' + line['user_id'] + '</td>';
            list+= '<td>' + line['date'] + '</td>';
            list+='</tr>';
          }
          elm.append(list);
        },
        (err) => {
          elm.text(JSON.stringify({message: err}));
        }
      )
    }

    let getSum = () => {
      let countelm = $(".count");
      let sumelm = $(".sum");
      $.ajax({
        url: "/api/v1/drip/" + id + "/" + type
      })
      .then(
        (data) => {
            countelm.append(data.count + ' 杯');
            sumelm.append(data.price + ' 円');
        },
        (err) => {
          elm.text(JSON.stringify({message: err}));
        }
      )
    }

    // ここ追加でバグってる
    let getNameById = () => {
      let nameelm = $(".name");
      $.ajax({
        url: "/api/v1/user/" + id
      })
      .then(
        (data) => {
            nameelm.append(data.username + ' さん');
        },
        (err) => {
          nameelm.text(JSON.stringify({message: err}));
        }
      )
    }

    $(() => {
      getNameById();
      getDripList();
      getSum();
    });
    </script>
  </body>
</html>
