<!DOCTYPE html>
<html>
  <head>
    <%- include('header') -%>
  </head>
  <body>

    <!-- NavBar -->
    <%- include('navbar') -%>

    <!-- 雑な対応 (マージン) -->
    <p style="visibility:hidden">dummy</p>

    <h3><%= subtitle %></h3>
    <div class="well">
      <form method="post" id="adduser" action="./">
        <div class="form-group">
          <label>ユーザー名</label>
          <input type="text" name=username class="form-control" required>
        </div>
        <div class="form-group">
          <label>パスワード</label>
          <input type="text" name=password class="form-control" required>
        </div>
        <div class="form-group">
          <label>Idm</label>
          <input type="text" name=idm class="form-control" required>
        </div>
        <button class="btn btn-default" type="submit">登録</button>
      </form>
    </div>
    <!-- ログイン画面へのリンク -->
    <p style="text-align: center"><a href="user/register">新規登録はこちら</a></p>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript">

    let postUserData = (data) => {
      $.ajax({
        type: "POST",
        url: "/api/v1/user/",
        data: data
      })
      .then(
        (data) => {
        },
        (err) => {
          $("userlist").text(JSON.stringify({message: err}));
        }
      )
    }

    $('#adduser').submit(function(event) {
      event.preventDefault();
      let $form = $(this);
      let sendData = $form.serialize();
      postUserData(sendData);
    });
  </script>
  </body>
</html>
