<!DOCTYPE html>
<html>
  <head>
    <%- include('header') -%>
  </head>
  <body>
    <h1><%= title %></h1>
    <table class="table">
      <thead class="thead-default">
        <tr>
          <td>ユーザーID</td>
          <td>ユーザー名</td>
          <td>パスワード</td>
          <td>Idm</td>
          <td>操作</td>
        </tr>
      </thead>
      <tbody id="userlist">
      </tbody>
    </table>

    <%# ひとまずjQueryのAjaxでAPIから取得したJSONを表示%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript">
    let getUserList = () => {
      let elm = $("#userlist");
      elm.empty();
      $.ajax({
        url: "/api/v1/user"
      })
      .then(
        (data) => {
          let list;
          for (let i = 0; i < data.length; i++) {
            let line = data[i];
            list+= '<tr>';
            list+= '<td>' + line['_id'] + '</td>';
            list+= '<td><a href="../drip/list/' + line['_id'] + '">' + line['username'] + '</a></td>';
            list+= '<td>' + line['password'] + '</td>';
            list+= '<td>' + line['idm'] + '</td>';
            list+='<td><a href="./user/list" class="btn btn-success btn-sm" role="button">編集</a>'
            list+='<a href="./user/list" class="btn btn-danger btn-sm" role="button">削除</a></td>'
            list+='</tr>';
          }
          elm.append(list);
        },
        (err) => {
          $("userlist").text(JSON.stringify({message: err}));
        }
      )
    }

    let deleteUser = () => {
    }

    $(() => {
      getUserList();
    });
    </script>
  </body>
</html>
